button {
	color: #b40000;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
canvas{
	border:1px solid grey;
}
#hook{
	border:1px solid grey;
}